@font-face {
  font-family: 'ITCKabelStdBold';
  src: url('/fonts/ITCKabelStdBold.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ITCKabelStdMedium';
  src: url('/fonts/ITCKabelStdMedium.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
  --background: 27 27 27;
  --foreground: 225 225 225;
  --muted: 115 115 115;
  --accent: 254 254 91; 
  /* #FEFE5B */
  }
}


@layer utilities {
.pause{
  animation-play-state: paused;
}

.custom-bg {
  @apply bg-white border border-accent/30 border-solid backdrop-blur-[6px] shadow-glass-inset hover:shadow-glass-sm;
}

}




@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}